*{
    padding: 0;
    margin: 0;
}

body{
    height: 500px;
    background-color: rgb(23, 41, 56);

   
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header{
    padding: 20px;
    margin: 20px;
}

h1{
    text-align: center;
}

.main-container{
    width: 500px;
    max-width: 600px;
    min-height: 350px;
    background-color: #fff;
    border-radius: 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.color{
    padding: 20px;
    margin: 10px;
    font-size: 32px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

label, p{
    margin: 20px;
}





footer{
    padding: 20px;
    margin: 20px;
    text-align: center;
}